@import "../../../assets/styles/bootstrap-variables.global";

.todo-item {
    .checkbox {
        background: #fff;
    }

    :global {
        .form-control,
        .form-control[readonly]
        {
            transition: all .2s ease;
            background: #fff;
        }
    }

    .item-actions {
        position: absolute;
        opacity: 0;
        transition: all .2s ease;
        right: 0;
        z-index: 4;

        :global(.btn) {
            margin-left: 3px;
        }
    }

    &:hover,
    &.editable {
        .item-actions {
            opacity: 1;
        }
    }

    &.editable {
        :global {
            .form-control {
                background: lighten($secondary, 10%);
            }
        }
    }

    &.completed {
        .checkbox {
            background: $green;
        }
    }
}

